.default {
  position: absolute;
  right: 1px;
  bottom: 1px;
  left: 1px;
  z-index: 1;
}

.absolute {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  z-index: 1;
}

.fixed {
  position: fixed;
  top: 1px;
  right: 1px;
  left: 1px;
  z-index: 1;
}

.relative {
  position: relative;
  top: 1px;
  right: 1px;
  bottom: 1px;
  z-index: 1;
}

.sticky {
  position: sticky;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
